<!DOCTYPE html>
<html>
<head>
<style> 
.myDiv {
             border: 5px outset #800000;  
             background-color:#ffb3b3; 
             text-align: center;
       }
    ul {
             list-style-type: none;
             margin: 2;
             padding: 2;
             overflow: hidden;
             background-color: #990000;
        }

    li {
            float: left;
        }

    li a {
            display: block;
            color: white;
            text-align: top;
             padding: 10px;
            text-decoration: none;
        }

    li a:hover {
            background-color: #111111;
        }
</style>
</head>