body {
 background-color:#DCDCDC; 
 }
 .heading{
            background-color:#DCDCDC;    
            text-align: top-left;
			font-size:50px; 
			color: #000000; 
				
       }
	#example1 {
             background-image: url(file:///F:/..Workspace/HTML_Basics/External%20style%20sheet/images/wood_3.webp);
             max-width: 100%;
             height: auto;
             background-position: center;
             font-size:20;
             padding: 50px;
             color: white; 
             text-align=justify;
             font-size:30px;
	  }
 .Button{
            text-align: center;
  
      }
	  .our{
		  
	  color:black;
	  }
